@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Balsamiq Sans', sans-serif;
  background-color: #1b1b1b;
}

b {
  font-weight: 700;
}
